# Ignore all files in the build output directory
/build*/
/core/generated/
/memory-bank

.vscode/
#.*/
/venvs/
.venv/
__pycache__/
.clinerules

# Temporary files
*.txt
*.log
*.env
*.pem
*.db
*.socket
*.installed
*.egg-info
*.pytest_cache/

# Ignore all object files and shared libraries
*.o
*.so
